body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    width: 200px;
    height: 100px;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: cyan;
    color: black;
    cursor: pointer;
    font-size: large;
}

.btn-modern:hover {
    animation: traslacion 0.4s forwards;
}

@keyframes traslacion {
    100% {
        border-bottom: 3px solid darkblue;
        background-color: blue;
        color: white;
        transform: translateY(-5px);
    }
}